body{
    background-color: #f8f8f8;
}
#store-logo{
    height: 120px;
    width: 140px;
}
a{
font-size: 24px;
color: limegreen;
}
li{
list-style-type: none;
}
p::first-letter{
    text-transform:capitalize;
}
.product-image{
    outline: 3px solid red;
}
.product-image:hover{
    outline: none;
}
table{
    border: 1px solid blue;
}
td{
    border: 1px solid cornflowerblue;
}
.item-headers{
    color:black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
#item-brief-desc{
    color:#707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
#item-full-desc{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
#item-details li{
    list-style:url('https://www.w3schools.com/cssref/sqpurple.gif');
    color: purple;
    font-style: italic;
}
.message-form input{
width: fit-content;
height: 15px;
}
.message-form input[type="text"]{
    color:blue;
    font-size: 12px;
}
.message-form:first-child{
    text-transform: capitalize;
}
.message-form textarea{
    color:royalblue;
}

.product-image{
    border: 1px solid green;
}
a:hover{
    color: seagreen;
}